$card-bg: #fff;
$card-shadow: 0 4px 9px rgba(0, 0, 0, .2);

.device-table {
  background: $card-bg;
  border-radius: 4px;
  box-shadow: $card-shadow;
  margin: 2rem auto;
  width: 1000px;

  &__caption {
    font-size: 1.25rem;
    font-weight: 500;
    padding: .25rem;
    text-align: left;
  }

  &__table {
    width: 100%;

    td,
    th {
      padding: .25rem;
      text-align: left;
    }
  }
}


.m-10 {
  margin:10px !important;

}
.mat-form-field {
  width:calc(100% - 50px) !important;
}

.gray-color {
  color:gray !important;
}

.text-center {
  text-align: center !important;
}

::ng-deep .mat-form-field-infix {
  border-bottom: 2px solid gray !important;
}

.mat-form-field-appearance-fill ::ng-deep .mat-form-field-infix:hover {
  border-bottom: 2px solid gray !important;
}

.search-icon {
  position: absolute !important;
  margin-left: -25px !important;
  margin-bottom:10px !important;
}